*{
    text-align: center;
}

html{
    background-color: beige;
    font-size: 20px;
}

body{
    width: 640;
    margin: auto;
}

h1{
    font-size:  48px;
}

img{
    width: 350px;
    height: 400px;
    border-radius: 150px;
}

P{
    font-size: 1.2rem;
}
